{% extends 'base.html' %}
{% block 'main' %}
{% load static %}
<div class="container">
    <div class="row mt-5">
        <h2>Contact Us:</h2>
        <p><b>Phone no :</b>&nbsp;123456789</p>
        <p><b>Email :</b>&nbsp;TheBoys@gmail.com</p>
        <h2>Social Media Links:</h2>
        <div class="col-4">
            <p><a href="https://www.facebook.com/login/" style="background: linear-gradient(45deg, #1877f2, #265a8f);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                display: inline-block;
                text-decoration: none;
                font-weight: bold;"><i class="bi bi-facebook"></i>&nbsp;Facebook</a></p><hr>
            <p><a href="https://www.instagram.com/accounts/login/" style="background: linear-gradient(45deg, #833ab4, #fd1d1d, #ff8e53);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                display: inline-block;
                text-decoration: none;
                font-weight: bold;"><i class="bi bi-instagram"></i>&nbsp;Instagram</a></p><hr>
            <p><a href="https://twitter.com/login?lang=en" style="background: linear-gradient(45deg, #1DA1F2, #0F81C7);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                display: inline-block;
                text-decoration: none;
                font-weight: bold;"><i class="bi bi-twitter"></i>&nbsp;Twitter</a></p><hr>
            <p><a href="https://www.linkedin.com/login" style="background: linear-gradient(45deg, #0077B5, #00405F);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                display: inline-block;
                text-decoration: none;
                font-weight: bold;"><i class="bi bi-linkedin"></i>&nbsp;Linkedin</a></p>
        </div>
    </div>
</div>


{% endblock 'main' %}