{% load static %}
<div class="container bg-light">
    <div class="row mt-3 bg-light p-3">
        <div class="col-4">
            <h5 align="center">Address:E-store</h5><hr>
            <p align="center">2nd Floor, Ishaan Arcade-1, Opposite Gaondevi Mandir, 
                              Above Canara bank, Gokhale Road,
                              Landmark: 3 Buildings after McDonalds,
                              Thane.
            </p>
            <p align="center"><i class="bi bi-telephone-fill text-danger"></i>&nbsp;1234567890</p>
            <p align="center"><i class="bi bi-envelope-fill text-danger"></i>&nbsp;TheBoys@gmail.com</p>
        </div>
        <div class="col-4">
            <h5 align="center">Quick links:</h5>
            <hr>
            <p align="center"><a href="/home" style="text-decoration: none;"><b>Home</b></a></p>
            <p align="center"><a href="/about" style="text-decoration: none;"><b>About Us</b></a></p>
            <p align="center"><a href="/contact" style="text-decoration: none;"><b>Contact</b></a></p>
        </div>
        <div class="col-4">
            <h5 align="center">Contact Us</h5><hr>
            <p align="center"><a href="https://www.facebook.com/login/" style="background: linear-gradient(45deg, #1877f2, #265a8f);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                display: inline-block;
                text-decoration: none;
                font-weight: bold;"><i class="bi bi-facebook"></i>&nbsp;Facebook</a></p>
            <p align="center"><a href="https://www.instagram.com/accounts/login/" style="background: linear-gradient(45deg, #833ab4, #fd1d1d, #ff8e53);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                display: inline-block;
                text-decoration: none;
                font-weight: bold;"><i class="bi bi-instagram"></i>&nbsp;Instagram</a></p>
            <p align="center"><a href="https://twitter.com/login?lang=en" style="background: linear-gradient(45deg, #1DA1F2, #0F81C7);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                display: inline-block;
                text-decoration: none;
                font-weight: bold;"><i class="bi bi-twitter"></i>&nbsp;Twitter</a></p>
            <p align="center"><a href="https://www.linkedin.com/login" style="background: linear-gradient(45deg, #0077B5, #00405F);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                display: inline-block;
                text-decoration: none;
                font-weight: bold;"><i class="bi bi-linkedin"></i>&nbsp;Linkedin</a></p>
        </div>
     </div>
</div>
      <!--Footer end-->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>